# Python Virtual Environments
venv/
chatbot_env/
.env

# FAISS Index / Vector Database
faiss_index/
recipes_database/
recipes_database_faiss/

# Large Data Files
full_format_recipes.json
recipes_knowledge_base.json

# Python cache files
__pycache__/
*.pyc

# IDE/Editor specific files
.vscode/
.idea/